.container {
    width: 800px;
    margin: 0 auto;
    display: flex;
    flex-flow: row wrap;
    border: thin solid #000;
}

.item {
    background-color: #999;
    padding: 10px;
    margin: 10px;
    flex: 1 0 auto;
    width: 200px;
}

.item1 {
}
.item2 {
}
.item3 {
    width: 400px;
}
.item4 {

}