.container {
    margin: 0 auto;
    display: flex;
    border: thin solid #000;
    align-items: flex-start;
    width: 800px;
    height: 500px;
}

.item {
    background-color: #999;
    padding: 10px;
    margin: 10px;
    flex: 1;
}

.item1 {
    align-self: flex-end;
}
.item2 {
}
.item3 {
    align-self: flex-end;
}
.item4 {
}
